In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mockCourseData.csv")

In [3]:
df.head()

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
1,2,Spring,2019,C,CS 3375,UG,J,124,Big data,3,Anurag Nagar,Tuesday&Thursday,9.0,10.15,ECSS 2.412,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r
4,5,Spring,2019,O,CS 5575,G,GP,12q,DB,2,Davis,Monday&Wednesday,14.3,15.45,ECSS 2.410,r

In [4]:
def isStringAvailable(string):
  return string!=None and len(string)!=0

In [5]:
#CourseOfferedSemesterIntent
termAndYear = "Summer 2019"
result = None
if(termAndYear!=None or len(termAndYear)!=0):
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]
  result = df[(df['Term'] == term) & (df['TermYear'] == int(termYear))]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
7,8,Summer,2019,C,CS 6375,G,GP,128,CNN,3,arthur,Friday,16.0,18.45,ECSS 2.412,r
8,9,Summer,2019,O,CS 7375,P,P,129,AI,3,Haim,Saturday,16.0,18.45,ECSS 2.410,r
9,10,Summer,2019,O,CS 1325,UG,F,120,NLP,3,Dan,Saturday,14.0,16.45,ECSS 2.415,r

In [6]:
#CourseBookDayIntent
result = None
day = "weekday"
weekday = ["monday","tuesday","wednesday","thursday","friday"]
weekend = ["saturday","sunday"]
if(day.lower() == 'weekday'):
  result = df[df['Days'].str.lower().str.contains("monday") | df['Days'].str.lower().str.contains("tuesday") | df['Days'].str.lower().str.contains("wednesday")
            | df['Days'].str.lower().str.contains("thursday") | df['Days'].str.lower().str.contains("friday")]
elif(day.lower() == 'weekend'):
  result = df[df['Days'].str.lower().str.contains("saturday") | df['Days'].str.lower().str.contains("sunday")]
else:
  result = df[df['Days'].str.lower().str.contains(day.lower())]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
1,2,Spring,2019,C,CS 3375,UG,J,124,Big data,3,Anurag Nagar,Tuesday&Thursday,9.0,10.15,ECSS 2.412,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r
4,5,Spring,2019,O,CS 5575,G,GP,12q,DB,2,Davis,Monday&Wednesday,14.3,15.45,ECSS 2.410,r
5,6,Spring,2019,O,CS 6575,G,GR,122,SDN,1,Timothy,Monday&Wednesday,20.3,21.45,ECSS 2.410,r
6,7,Fall,2019,C,CS 5375,G,GR,127,Design and Analysis of algorithms,3,Balaji,Monday&Wednesday,16.3,17.45,ECSS 2.415,r
7,8,Summer,2019,C,CS 6375,G,GP,128,CNN,3,arthur,Friday,16.0,18.45,ECSS 2.412,r

In [7]:
#CourseCreditIntent
credits = 3
df[df["CourseCredits"]==credits]

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
1,2,Spring,2019,C,CS 3375,UG,J,124,Big data,3,Anurag Nagar,Tuesday&Thursday,9.0,10.15,ECSS 2.412,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r
6,7,Fall,2019,C,CS 5375,G,GR,127,Design and Analysis of algorithms,3,Balaji,Monday&Wednesday,16.3,17.45,ECSS 2.415,r
7,8,Summer,2019,C,CS 6375,G,GP,128,CNN,3,arthur,Friday,16.0,18.45,ECSS 2.412,r
8,9,Summer,2019,O,CS 7375,P,P,129,AI,3,Haim,Saturday,16.0,18.45,ECSS 2.410,r
9,10,Summer,2019,O,CS 1325,UG,F,120,NLP,3,Dan,Saturday,14.0,16.45,ECSS 2.415,r

In [8]:
#InstructionMethodIntent
result = None
instructionMode = "regular"
if(instructionMode.lower() == "online"):
  result = df[df["InstructionMode"]=="o"]
else:
  result = df[df["InstructionMode"]=="r"]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r
4,5,Spring,2019,O,CS 5575,G,GP,12q,DB,2,Davis,Monday&Wednesday,14.3,15.45,ECSS 2.410,r
5,6,Spring,2019,O,CS 6575,G,GR,122,SDN,1,Timothy,Monday&Wednesday,20.3,21.45,ECSS 2.410,r
6,7,Fall,2019,C,CS 5375,G,GR,127,Design and Analysis of algorithms,3,Balaji,Monday&Wednesday,16.3,17.45,ECSS 2.415,r
7,8,Summer,2019,C,CS 6375,G,GP,128,CNN,3,arthur,Friday,16.0,18.45,ECSS 2.412,r
8,9,Summer,2019,O,CS 7375,P,P,129,AI,3,Haim,Saturday,16.0,18.45,ECSS 2.410,r
9,10,Summer,2019,O,CS 1325,UG,F,120,NLP,3,Dan,Saturday,14.0,16.45,ECSS 2.415,r

In [9]:
#CourseNameIntent
courseName = "machine learning"
termAndYear = ""
result = None
if(termAndYear==None or len(termAndYear)==0):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]
else:
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower())) &(df['Term'] == term) & (df['TermYear'] == int(termYear))]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o

In [10]:
#ProfessorIntent
instructorName = "Anurag"
result = None
if(instructorName!=None or len(instructorName)!=0):
  result = df[df["Instructor"].str.lower().str.contains(instructorName.lower())]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
1,2,Spring,2019,C,CS 3375,UG,J,124,Big data,3,Anurag Nagar,Tuesday&Thursday,9.0,10.15,ECSS 2.412,o
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r

In [11]:
#CourseStatusIntent
courseName = "Machine Learning"
courseStatus = "open"
if(isStringAvailable(courseStatus)):
  if courseStatus == "open":
    courseStatus = "o"
  else:
    courseStatus = "c"
termAndYear = ""
if(isStringAvailable(termAndYear)):
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]

result = None

if(isStringAvailable(courseStatus) and isStringAvailable(termAndYear) and isStringAvailable(courseName)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
            &(df["Status"].str.lower().str.contains(courseStatus.lower()))
           &(df['Term'] == term) & (df['TermYear'] == int(termYear))]
elif(isStringAvailable(courseStatus) and isStringAvailable(termAndYear)):
  result = df[(df["Status"].str.lower().str.contains(courseStatus.lower()))
           &(df['Term'] == term) & (df['TermYear'] == int(termYear))]
elif(isStringAvailable(courseName) and isStringAvailable(termAndYear)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
           &(df['Term'] == term) & (df['TermYear'] == int(termYear))]
elif(isStringAvailable(courseName) and isStringAvailable(courseStatus)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
           &(df['Status'].str.lower() == courseStatus)]
elif(isStringAvailable(courseName)):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]
elif(isStringAvailable(courseName)):
  result = df[df["Status"].str.lower().str.contains(courseStatus.lower())]
else:
  result = df[(df['Term'] == term) & (df['TermYear'] == int(termYear))]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o

In [15]:
# CourseStatus
courseLevel = "UG"
result = None
if( isStringAvailable(courseName)):
  result = df[df["ClassLevel"].str.lower().str.contains(courseLevel.lower())]
result

,Id,Term,TermYear,Status,Section,ClassLevel,ClassSubLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,StartTime,EndTime,Location,InstructionMode
0,1,Summer,2019,O,CS 2375,UG,SO,123,Machine learning,3,Dan Molodovan,Monday&Wednesday,9.0,10.15,ECSS 2.410,o
1,2,Spring,2019,C,CS 3375,UG,J,124,Big data,3,Anurag Nagar,Tuesday&Thursday,9.0,10.15,ECSS 2.412,o
2,3,Fall,2019,O,CS 1375,UG,F,125,Machine learning,3,Anjum Chida,Tuesday&Thursday,10.3,11.45,ECSS 2.415,o
3,4,Spring,2019,O,CS 4375,UG,S,126,Stats,3,Anurag Nagar,Monday&Wednesday,10.3,11.45,ECSS 2.410,r
9,10,Summer,2019,O,CS 1325,UG,F,120,NLP,3,Dan,Saturday,14.0,16.45,ECSS 2.415,r